<div class="chat-wrapper">

  <div class="fetching" *ngIf="_queryingMessageList">
    Fetching more messages ...

    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="text-messages" tafullstackScrollable>
    <mat-list>
      <mat-list-item dense *ngFor="let message of messages">
        <img matListAvatar [src]="message._sender.profileUrl">
        <h3 matLine> {{message._sender.userId}} </h3>
        <p matLine> {{message.message}} </p>
      </mat-list-item>
    </mat-list>

    <p class="no-message" *ngIf="messages.length == 0">Oh no! It seems there isn't any messages yet... <br />
    Feel free to add the first one ;)</p>
  </div>


  <div class="actions">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Type your message" [(ngModel)]="newMsgText">
    </mat-form-field>

    <button mat-button color="primary" (click)="sendMessage()">Send!</button>
  </div>
</div>