<mat-list-item dense [ngClass]="{self: isOwnMessage}">
  <img matListAvatar [src]="message._sender.profileUrl" (click)="createDM()">
  <h3 matLine> {{message._sender.userId}} </h3>
  <p matLine> {{message.message}} </p>

</mat-list-item>

<mat-card matLine *ngIf="ytEmbed" class="ytEmbed"  [ngClass]="{self: isOwnMessage}">
  <mat-card-title>{{ytEmbed.title}}</mat-card-title>
  <mat-card-subtitle>{{ytEmbed.author_name}}</mat-card-subtitle>
  <mat-card-content [innerHTML]="ytEmbed.html">

  </mat-card-content>
</mat-card>