.ytEmbed {
    margin:24px;
    width:500px;
    &.self {
        margin-left: auto;
    }
}

.mat-list-item {
    &.self {
        ::ng-deep .mat-list-item-content {flex-direction: row-reverse;}
        text-align: right;
    }
    
    .mat-list-avatar {
        cursor:pointer;
    }
}